<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/globalsIndex.css" />
    <link rel="stylesheet" href="../static/styleIndex.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <img class="yo-quiero" src="img/yo-quiero-1.png" />
        </div>
        <div class="overlap-group">
          <div class="overlap-2">
            <div class="text-wrapper">PictoTEA</div>
            <div class="text-wrapper">PictoTEA</div>
          </div>
          <div class="overlap-3">
            <img class="vector" src="img/vector.svg" />
            <div class="text-wrapper-2">Pagina principal</div>
            <img class="img" src="img/rectangle-27.svg" />
          </div>
          <img class="home" src="img/home.svg" />
          <div class="text-wrapper-3">Pictos</div>
          <img class="image" src="img/image-4.png" />
        </div>
        <div class="overlap-4">
          <div class="text-wrapper-4">¿Que quieres decir?</div>
          <div class="rectangle-2"></div>
          <img class="rectangle-3" src="img/rectangle-5.svg" />
          <img class="image-2" src="img/image-2.png" />
          <img class="image-2" src="img/image-3.png" />
          <div class="text-wrapper-5">Quiero Comer</div>
          <img class="microphone" src="img/microphone.png" />
          <img class="rectangle-4" src="img/rectangle-37.svg" />
          <div class="text-wrapper-6">Tus frases</div>
        </div>
        <div class="overlap-5">
          <img class="rectangle-5" src="img/rectangle-12.svg" />
          <img class="rectangle-6" src="img/rectangle-3.svg" />
          <div class="text-wrapper-7">Añadir</div>
          <img class="image-3" src="img/image-39.png" />
          <div class="text-wrapper-8">Cerrar sesión</div>
        </div>
        <div class="comer-wrapper"><img class="comer" src="img/comer-1.png" /></div>
        <div class="text-wrapper-9">Quiero</div>
        <div class="text-wrapper-10">Comer</div>
      </div>
    </div>
  </body>
</html>
