<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/globalsLibreriaPictos.css" />
    <link rel="stylesheet" href="../static/styleLibreriaPictos.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="overlap">
            <div class="overlap-group">
              <img class="rectangle" src="img/rectangle-1.svg" />
              <div class="text-wrapper">Pictos</div>
              <div class="text-wrapper-2">PictoTEA</div>
              <img class="home" src="img/home.svg" />
              <img class="local-library" src="img/local-library.svg" />
              <div class="text-wrapper-3">Pagina principal</div>
              <img class="img" src="img/rectangle-15.svg" />
              <img class="image" src="img/image-5.png" />
            </div>
            <div class="overlap-group-2">
              <div class="text-wrapper-4">Libreria de pictos</div>
              <div class="rectangle-2"></div>
              <div class="rectangle-3"></div>
              <div class="text-wrapper-5">Objeto</div>
              <div class="rectangle-4"></div>
              <div class="text-wrapper-6">Conocimiento</div>
              <div class="rectangle-5"></div>
              <div class="text-wrapper-7">Comunicacion</div>
              <div class="rectangle-6"></div>
              <div class="text-wrapper-8">Ocio</div>
              <img class="rectangle-7" src="img/rectangle-8.svg" />
              <div class="rectangle-8"></div>
              <div class="text-wrapper-9">Ser vivo</div>
              <div class="rectangle-9"></div>
              <div class="text-wrapper-10">Lugar</div>
              <div class="rectangle-10"></div>
              <div class="text-wrapper-11">Tiempo</div>
              <div class="rectangle-11"></div>
              <div class="text-wrapper-12">Desplazamiento</div>
            </div>
          </div>
          <div class="div-wrapper"><div class="text-wrapper-13">Alimentacion</div></div>
          <div class="overlap-2"><div class="text-wrapper-14">Trabajo</div></div>
          <div class="overlap-3"><div class="text-wrapper-15">Religion</div></div>
        </div>
        <div class="overlap-4"><div class="text-wrapper-16">Cerrar sesión</div></div>
        <div class="comer-wrapper"><img class="comer" src="img/comer-2.png" /></div>
        <div class="image-wrapper"><img class="image-2" src="img/image-18.png" /></div>
        <div class="img-wrapper"><img class="image-3" src="img/image-19.png" /></div>
        <div class="overlap-5"><img class="image-4" src="img/image-26.png" /></div>
        <div class="overlap-6"><img class="image-5" src="img/image-22.png" /></div>
        <div class="overlap-7"><img class="image-6" src="img/image-23.png" /></div>
        <div class="overlap-8"><img class="image-7" src="img/image-24.png" /></div>
        <div class="overlap-9"><img class="image-8" src="img/image-25.png" /></div>
        <div class="overlap-10"><img class="image-9" src="img/image-21.png" /></div>
        <div class="overlap-11"><img class="image-10" src="img/image-20.png" /></div>
        <div class="text-wrapper-17">Comer</div>
        <div class="text-wrapper-18">Queso</div>
        <div class="text-wrapper-19">Yogur</div>
        <div class="overlap-12">
          <div class="text-wrapper-20">Limon</div>
          <img class="rectangle-12" src="img/rectangle-34.svg" />
        </div>
        <div class="text-wrapper-21">Fruta</div>
      </div>
    </div>
  </body>
</html>
