<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleLogin.css">
    <title>Inicio de sesion</title>
</head>
<body>
    <header class="main-header">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/457fa967093b92407aaa13268b7d397b963dcbce?placeholderIfAbsent=true&apiKey=1990fdc6afa74950a01ba6bbdcea8551" class="logo-image" alt="PictoTEA Logo" />
        <h1 class="brand-name">PictoTEA</h1>
        <nav class="main-navigation">
          <a href="#" class="nav-link">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/c81e0c7cb7b891a7f85cf1f9b8ffdb8c46d94258?placeholderIfAbsent=true&apiKey=1990fdc6afa74950a01ba6bbdcea8551" class="nav-icon" alt="Home Icon" />
            <span class="nav-text">Pagina principal</span>
          </a>
          <a href="#" class="nav-link secondary">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/816f32e9d79d2195d1943e6f147b39579919548f?placeholderIfAbsent=true&apiKey=1990fdc6afa74950a01ba6bbdcea8551" class="nav-icon" alt="Pictos Icon" />
            <span class="nav-text">Pictos</span>
          </a>
        </nav>
      </header>
      
      <main class="login-container" data-el="div-1">
        <div class="login-content">
          <section class="login-form-section">
            <form class="login-form">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-input" />
      
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" class="form-input" />
      
              <button type="submit" class="login-button">Iniciar sesión</button>
            </form>
          </section>
      
          <section class="login-image-section">
            <h2 class="login-title">Login</h2>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/88349abe53e659a02f51d54e591bfa119e1e2bb5?placeholderIfAbsent=true&apiKey=1990fdc6afa74950a01ba6bbdcea8551" class="login-illustration" alt="Login Illustration" />
          </section>
        </div>
      </main>
      
      <footer class="main-footer"></footer>
      
</body>
</html>