<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="overlap-2">
              <img class="rectangle" src="img/rectangle-1.svg" />
              <div class="text-wrapper">Página principal</div>
              <div class="text-wrapper-2">Librería de pictos</div>
              <div class="text-wrapper-3">PictoTEA</div>
              <img class="home" src="img/home.svg" />
              <img class="rectangle" src="img/rectangle-7.svg" />
              <div class="text-wrapper-3">PictoTEA</div>
              <img class="home" src="img/image.svg" />
              <img class="image" src="img/image-1.png" />
              <img class="image" src="img/image-4.png" />
              <div class="text-wrapper-4">Pagina principal</div>
              <div class="local-library"><img class="vector" src="img/vector.svg" /></div>
              <div class="text-wrapper-5">Pictos</div>
            </div>
            <div class="text-wrapper-6">Tus frases</div>
          </div>
          <div class="text-wrapper-7">Quiero Comer</div>
        </div>
        <div class="div-wrapper"><div class="text-wrapper-8">Cerrar sesión</div></div>
        <div class="yo-quiero-wrapper"><img class="yo-quiero" src="img/yo-quiero-2.png" /></div>
        <div class="comer-wrapper"><img class="comer" src="img/comer-2.png" /></div>
        <div class="text-wrapper-9">Quiero juguetes</div>
        <div class="img-wrapper"><img class="img" src="img/yo-quiero-3.png" /></div>
        <div class="image-wrapper"><img class="image-2" src="img/image-29.png" /></div>
      </div>
    </div>
  </body>
</html>
