body {
  background-color: #e3eaf4;
}

.main-header { 
  background-color: #F5F5F5; 
  border-bottom: 1px solid #000; 
  display: flex; 
  align-items: center;
  font-weight: bold;
  font-family: Jua, sans-serif; 
  padding: 10px 40px; 
  gap: 60px; 
  margin-bottom: -55px;
}

.header-logo { 
    width: 115px; 
    height: 115px; 
    border-radius: 50%; 
}

.header-title { 
    font-family: "Jua", sans-serif; 
    font-size: 64px; 
    margin: 0 auto; 
}

.header-nav { 
    display: flex; 
    align-items: center; 
    gap: 40px; 
}

.logo-image {
  aspect-ratio: 1.01;
  object-fit: contain;
  object-position: center;
  width: 115px;
  border-radius: 138px;
  align-self: stretch;
  flex-shrink: 0;
  max-width: 100%;
}

.brand-name {
  color: rgba(0, 0, 0, 1);
  font-size: 64px;
  text-align: center;
  align-self: stretch;
  margin: auto 0;
  flex: 1;
  width: 237px;
}

@media (max-width: 991px) {
  .brand-name {
    font-size: 40px;
  }
}

.main-navigation {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: flex-start;
  gap: 40px 49px;
  font-size: 32px;
}

@media (max-width: 991px) {
  .main-navigation {
    max-width: 100%;
  }
}

.nav-link { 
  font-size: 32px; 
  text-decoration: none; 
  color: #000; 
  font-family: sans-serif;
}

.nav-icon {
  width: 43px;
  height: 43px;
  object-fit: contain;
}

.login-container {
  align-self: center;
  margin-top: 25px;
  width: 100%;
  max-width: 1233px;
  margin-left: 150px;
}

@media (max-width: 991px) {
  .login-container {
    max-width: 100%;
    margin-top: 40px;
  }
}

.login-content {
  gap: 20px;
  display: flex;
  padding-left: 250px;
}

@media (max-width: 991px) {
  .login-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.login-form-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 42%;
  margin-left: 0;
  margin-top: -175px;
}

@media (max-width: 991px) {
  .login-form-section {
    width: 100%;
  }
}

.login-form {
  display: flex;
  margin-top: 206px;
  flex-direction: column;
  align-items: stretch;
  font-family: Jua, sans-serif;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}

@media (max-width: 991px) {
  .login-form {
    max-width: 100%;
    margin-top: 40px;
  }
}

.form-label {
  align-self: flex-start;
  font-family: sans-serif;
  font-weight: bold;
}

.form-input {
  border-radius: 71px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-top: 23px;
  height: 36px;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em 0.75em;
  outline: none;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media (max-width: 991px) {
  .form-input {
    max-width: 100%;
  }
}

.form-label:nth-child(3) {
  margin-top: 31px;
}

.login-button {
  border-radius: 7px;
  background-color: rgba(101, 161, 151, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  align-self: center;
  margin-top: 50px;
  width: 242px;
  max-width: 100%;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  color: #000;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}


@media (max-width: 991px) {
  .login-button {
    padding: 3px 20px;
    margin-top: 40px;
  }
}

.login-image-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 45%;
  height: 45%;
  margin-left: 225px;
  margin-top: -50px;
  margin-bottom: 65px;
}

@media (max-width: 991px) {
  .login-image-section {
    width: 100%;
  }
}

.login-title {
  font-size: 70px;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  text-align: center;
  margin-top: 65px;
}

@media (max-width: 991px) {
  .login-title {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
    white-space: initial;
  }
}

.main-footer { 
  background: #F5F5F5; 
  border-top: 1px solid #000; 
  padding: 25px 0; 
  padding-right: 40px;
  margin-top: 25px;
}

.body {
  background-color: rgba(227,234,244,255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  min-height: 100vh;
}
